<header>
	<div class="container">
		<div class="row" id="topbar">
			<div class="col-sm-6">
				<a id="logo" href="/"><i class="fa fa-crosshairs" aria-hidden="true"></i> Buscando Equipo</a>
			</div>
			<div class="hidden-xs col-sm-6">
				<nav class="pull-right">
					<ul class="nav nav-pills">
						<li>
							<a rel="nofollow" target="_blank" href="https://www.twitter.com/thedivisionlat"><i class="fa fa-twitter"></i> Nuestro Twitter</a>
						</li>
						<li>
							<a rel="nofollow" target="_blank" href="http://www.thedivisionlatino.com">Volver al Blog &rsaquo;</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>