<section id="app">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>Encuentra un Agente</h2>


				<div class="agent-block agent-block-ps4">
					<div class="row">
						<div class="col-sm-4">
							<div class="agent-block-username">
								<i aria-hidden="true" class="fa fa-microphone"></i> bojames18
							</div>
							<div class="row agent-block-stats">
								<div class="col-xs-12">
									<div class="agent-block-stat-title">Niveles</div>
								</div>
								<div class="col-xs-4">
									<div class="agent-block-stat-left"><span>Historia</span> Nivel 30</div>
								</div>
								<div class="col-xs-4">
									<div class="agent-block-stat-left"><span>DZ</span> Nivel 45</div>
								</div>
								<div class="col-xs-4">
									<div class="agent-block-stat-left"><span>Equipo</span> Nivel 189</div>
								</div>
							</div>
						</div>
						<div class="col-sm-8">
							<div class="agent-block-activity"><span>Actividad:</span> Zona Oscura</div>
							<p class="description">
								Praesent tempus tincidunt ornare. Duis at sem sit amet enim sollicitudin accumsan ut ullamcorper turpis. Vivamus ac lacinia nibh. Suspendisse potenti. Pellentesque at ipsum ligula.
							</p>

							<ul class="agent-block-skills">
								<li><i aria-hidden="true" class="fa fa-crosshairs"></i> 151,709</li>
								<li><i aria-hidden="true" class="fa fa-medkit"></i> 97,709</li>
								<li><i aria-hidden="true" class="fa fa-battery-3"></i> 5,995</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="agent-block agent-block-pc">
					<div class="row">
						<div class="col-sm-4">
							<div class="agent-block-username">
								hawkma335
							</div>
							<div class="row agent-block-stats">
								<div class="col-xs-12">
									<div class="agent-block-stat-title">Niveles</div>
								</div>
								<div class="col-xs-4">
									<div class="agent-block-stat-left"><span>Historia</span> Nivel 1</div>
								</div>
								<div class="col-xs-4">
									<div class="agent-block-stat-left"><span>DZ</span> Nivel 1</div>
								</div>
								<div class="col-xs-4">
									<div class="agent-block-stat-left"><span>Equipo</span> Nivel 120</div>
								</div>
							</div>
						</div>
						<div class="col-sm-8">
							<div class="agent-block-activity"><span>Actividad:</span> Incursiones</div>
							<p class="description">
								Praesent tempus tincidunt ornare. Duis at sem sit amet enim sollicitudin accumsan ut ullamcorper turpis. Vivamus ac lacinia nibh. Suspendisse potenti. Pellentesque at ipsum ligula.
							</p>

							<ul class="agent-block-skills">
								<li><i aria-hidden="true" class="fa fa-crosshairs"></i> 12,009</li>
								<li><i aria-hidden="true" class="fa fa-medkit"></i> 52,575</li>
								<li><i aria-hidden="true" class="fa fa-battery-3"></i> 1,365</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="agent-block agent-block-xbone">
					<div class="row">
						<div class="col-sm-4">
							<div class="agent-block-username">
								<i aria-hidden="true" class="fa fa-microphone"></i> AlbanianGainz
							</div>
							<div class="row agent-block-stats">
								<div class="col-xs-12">
									<div class="agent-block-stat-title">Niveles</div>
								</div>
								<div class="col-xs-4">
									<div class="agent-block-stat-left"><span>Historia</span> Nivel 30</div>
								</div>
								<div class="col-xs-4">
									<div class="agent-block-stat-left"><span>DZ</span> Nivel 76</div>
								</div>
								<div class="col-xs-4">
									<div class="agent-block-stat-left"><span>Equipo</span> Nivel 201</div>
								</div>
							</div>
						</div>
						<div class="col-sm-8">
							<div class="agent-block-activity"><span>Actividad:</span> Misiones Diarias</div>
							<p class="description">
								Praesent tempus tincidunt ornare. Duis at sem sit amet enim sollicitudin accumsan ut ullamcorper turpis. Vivamus ac lacinia nibh. Suspendisse potenti. Pellentesque at ipsum ligula.
							</p>

							<ul class="agent-block-skills">
								<li><i aria-hidden="true" class="fa fa-crosshairs"></i> 173,736</li>
								<li><i aria-hidden="true" class="fa fa-medkit"></i> 86,545</li>
								<li><i aria-hidden="true" class="fa fa-battery-3"></i> 4,327</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>