<section id="app">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				{{ template "partials/panel-search" . }}
				{{ template "partials/add-modal" . }}
				{{ template "partials/search-results" . }}
			</div>
		</div>
	</div>
</section>